@model MyCrowdFund.Web.Models.BackerViewModel

<form class="js-update-backer col-md-4" method="post"
      action="@Url.Action("Profile","Backer")">

    <div class="form-group">
        <label>First Name</label>
        <input type="text" placeholder="@Model.Backer.Firstname" class="form-control js-firstname">
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input type="text" placeholder="@Model.Backer.Lastname" class="form-control js-lastname">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" placeholder="@Model.Backer.Email" class="form-control js-email">
    </div>

    <div class="form-group">
        <label>Age</label>
        <input type="text" placeholder="@Model.Backer.Age" class="form-control js-age">
    </div>

    <div class="form-group">
        <label>Photo</label>
        <input type="text" placeholder="@Model.Backer.Photo" class="form-control js-photo">
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" placeholder="@Model.Backer.Username" class="form-control js-username">
    </div>

    <div class=" form-group ">
        @Html.HiddenFor( r => r.Backer.Id,
      new { @class = "form-control js-crid", placeholder = "enter tid" } )

    </div>

    <button type="button" class="btn btn-primary  js-update-submit ">Update</button>
</form>